<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='script' href="javascripts/jquery-1.12.0.js"/>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
